<tr>
  <td><label for="system.action">{{localize "salvage-union.sheets.items.action.label"}}</label></td>
  <td>
    <select name="system.action">
      {{#select system.action}}
        <option value="">{{localize "salvage-union.common.none"}}</option>
        {{#each config.actionTypes as |name type|}}
          <option value="{{type}}">{{localize name}}</option>
        {{/each}}
      {{/select}}
    </select>
  </td>
</tr>
