<tr>
  <td><label for="system.range">{{localize "salvage-union.sheets.items.range.label"}}</label></td>
  <td>
    <select name="system.range">
      {{#select system.range}}
        <option value="">{{localize "salvage-union.common.none"}}</option>
        {{#each config.ranges as |name type|}}
          <option value="{{type}}">{{localize name}}</option>
        {{/each}}
      {{/select}}
    </select>
  </td>
</tr>
