<form class="salvage-union sheet item-sheet {{cssClass}}" autocomplete="off">
  <section class="sheet-type {{item.type}}">
    <span class="type-name all-caps">{{localize (trPath "salvage-union.sheets.type" item.type)}}</span>
  </section>
  <header class="sheet-header">
    <h1 class="title">
      <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "salvage-union.sheets.name"}}"
        class="editable" />
    </h1>
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
  </header>

  <section class="body">
    <h2 class="title"><span class="inverted">{{localize "salvage-union.sheets.type.npc"}}</span></h2>
    <table class="values">
      <tr>
        <td><label for="system.npc_name">{{localize "salvage-union.sheets.name"}}</label></td>
        <td colspan="2"><input type="text" name="system.npc_name" value="{{item.system.npc_name}}"
            placeholder="{{localize "salvage-union.sheets.name"}}" /></td>
      </tr>
      <tr>
        <td><label for="system.npc_keepsake">{{localize "salvage-union.sheets.actor.pilot.keepsake"}}</label></td>
        <td colspan="2"><input type="text" name="system.npc_keepsake" value="{{item.system.npc_keepsake}}"
            placeholder="{{localize "salvage-union.sheets.actor.pilot.keepsake"}}" /></td>
      </tr>
      <tr>
        <td><label for="system.npc_motto">{{localize "salvage-union.sheets.actor.pilot.motto"}}</label></td>
        <td colspan="2"><input type="text" name="system.npc_motto" value="{{item.system.npc_motto}}"
            placeholder="{{localize "salvage-union.sheets.actor.pilot.motto"}}" /></td>
      </tr>
      <tr>
        <td><label for="system.npc_health.value">{{localize "salvage-union.sheets.actor.pilot.health"}}</label></td>
        <td><input type="number" name="system.npc_health.value" value="{{item.system.npc_health.value}}" min="0"
            max="{{item.system.npc_health.max}}" placeholder="0"></td>
        <td><input type="number" name="system.npc_health.max" value="{{item.system.npc_health.max}}" placeholder="0">
        </td>
      </tr>
      <tr class="description">
        <td><label
            for="system.npc_description">{{localize "salvage-union.sheets.items.crawler-bay.npc-description"}}</label>
        </td>
        <td colspan="2" class="profileField">
          {{editor (enrichHTML system.npc_description) target="system.npc_description" button=true owner=owner editable=editable}}
        </td>
      </tr>
    </table>

    {{> "systems/salvage-union/templates/partials/description-editor.hbs" }}

    {{#if hasTable }}
      {{> "systems/salvage-union/templates/partials/item-rolltable.hbs" id=system.table_id results=system.tableResults}}
    {{/if}}
  </section>
</form>
