<section class="item {{item.type}}" data-item-id="{{item.id}}">
  <h2>
    <span class="item-context-menu" data-item-id="{{item.id}}">
      <span class="inverted">{{item.name}}</span>
      <small class="tech-tier" title="{{localize (trPath "salvage-union.salvage" item.system.techLevel)}}">
        {{item.system.techLevel}}
      </small>
      <small class="salvage-value" title="{{localize "salvage-union.sheets.items.salvage-value"}}">
        {{item.system.salvageValue}}
      </small>
      <small>
        <a class="sendToChat" data-item-id="{{item.id}}" title="{{localize "salvage-union.chat.send-to-chat"}}">
          <i class="fas fa-comments"></i>
        </a>
      </small>
    </span>
  </h2>

  {{{enrichHTML (addInlineCosts item.system.description)}}}

  {{#if item.system.tableResults}}
    {{> "systems/salvage-union/templates/partials/rolltable.hbs" item_id=item.id results=item.system.tableResults}}
  {{/if}}
</section>
