<h3 class="title condensed">{{npc_name}}</h3>
{{#if (gt npc_health.max 0)}}
  <p>
    <strong>{{localize "salvage-union.sheets.actor.pilot.health"}}:</strong>
    {{#unless inChat}}<a class="crawler-npc-hp" data-item-id="{{id}}" data-change="-1"
        title="{{localize "salvage-union.sheets.items.crawler-npc.hp-minus"}}"><i
          class="fas fa-minus"></i></a>{{/unless}}
    <span class="{{#if (lte npc_health.value 0)}}danger{{/if}}">
      {{npc_health.value}} / {{npc_health.max}}
    </span>
    {{#unless inChat}}<a class="crawler-npc-hp" data-item-id="{{id}}" data-change="1"
        title="{{localize "salvage-union.sheets.items.crawler-npc.hp-plus"}}"><i class="fas fa-plus"></i></a>{{/unless}}
  </p>
{{/if}}
{{#if (or npc_keepsake npc_motto)}}
  <p>
    {{#if npc_keepsake}}
      <strong>Keepsake:</strong> {{npc_keepsake}}
    {{/if}}
    {{#if (and npc_keepsake npc_motto)}}//{{/if}}
    {{#if npc_motto}}
      <strong>Motto:</strong> {{npc_motto}}
    {{/if}}
  </p>
{{/if}}
{{#if npc_description}}{{{npc_description}}}{{/if}}
