<div class="inventory">
  {{#times max}}
    <div class="slot">{{@index}}</div>
  {{/times}}

  <div class="items item-list">
    {{#each items as |item|}}
      <div class="item{{#if item.overflow}} overflow{{/if}}{{#if item.canDelete}} item-context-menu{{/if}}"
        style="height: {{inventoryItemHeight item.size}}" data-item-id="{{item.id}}">
        <span class="data">
          {{#if item.techLevel}}<strong class="tech-tier">{{item.techLevel}}</strong>{{/if}}
          {{#if (gte item.salvageValue 1)}}
            <small class="salvage-value" title="{{localize "salvage-union.sheets.items.salvage-value"}}">
              {{item.salvageValue}}
            </small>
          {{/if}}
        </span>
        <span class="label">
          {{item.name}}
          ({{localize (trPath "salvage-union.sheets.type" item.type)}})
          <a class="sendToChat" data-item-id="{{item.id}}">
            <i class="fas fa-comments"></i>
          </a>
        </span>
      </div>
    {{/each}}
  </div>
</div>
