<section class="item {{item.type}} {{statusClass item.system.status}}" data-item-id="{{item.id}}">
  <h2 class="item-context-menu title {{titleClass}}" data-item-id="{{item.id}}">
    {{#unless (or npc (eq item.type "chassis"))}}
      {{#if item.system.ap}}
        <span class="item-cost" title="{{localize "salvage-union.sheets.items.ap"}}">
          {{localize "salvage-union.sheets.actor.pilot.ap-cost" cost=item.system.ap}}
        </span>
      {{/if}}

      {{#if item.system.ep}}
        <span class="item-cost" title="{{localize "salvage-union.sheets.items.ep"}}">
          {{localize "salvage-union.sheets.actor.mech.ep-cost" cost=item.system.ep}}
        </span>
      {{/if}}
    {{/unless}}

    <span class="condensed">{{item.name}}</span>

    {{#if (and inChat (not (or (eq item.type "ability") (eq item.type "crawler-npc"))))}}<br />{{/if}}

    {{#if (eq item.type "ability")}}
      <small class="tech-tier {{item.system.level}}" title="{{localize "salvage-union.sheets.items.level.label"}}">
        {{localize (trPath "salvage-union.sheets.items.level" item.system.level)}}
      </small>
    {{else}}
      {{#if item.system.techLevel}}
        <small class="tech-tier" title="{{localize (trPath "salvage-union.salvage" item.system.techLevel)}}">
          {{item.system.techLevel}}
        </small>
      {{/if}}
    {{/if}}

    {{#unless npc}}
      {{#if (gt item.system.slots 0)}}
        <small class="item-slots" title="{{localize "salvage-union.sheets.items.slots"}}">
          {{item.system.slots}}
        </small>
      {{/if}}
    {{/unless}}

    {{#if (gt item.system.salvageValue 0)}}
      <small class="salvage-value" title="{{localize "salvage-union.sheets.items.salvage-value"}}">
        {{item.system.salvageValue}}
      </small>
    {{/if}}

    {{#unless inChat}}
      <small>
        <a class="sendToChat" data-item-id="{{item.id}}" title="{{localize "salvage-union.chat.send-to-chat"}}">
          <i class="fas fa-comments"></i>
        </a>

        {{#if (or (eq type "module") (eq type "system") (eq type "crawler-bay"))}}
          <a class="toggleDamage" data-item-id="{{item.id}}">
            <i class="fas fa-tools" title="{{localize "salvage-union.status.toggle-status"}}"></i>
          </a>
        {{/if}}
      </small>
    {{/unless}}

    {{#if (and item.system.status (gt item.system.status @root.activeStatus))}}
      <small class="inverted all-caps status">{{localize (statusLabel item.system.status)}}</small>
    {{/if}}
  </h2>

  <div class="item-description">
    {{#if item.system.combinedTraits}}
      <p><strong>{{join item.system.combinedTraits " // "}}</strong></p>
    {{/if}}

    {{#if (eq item.type "crawler-npc")}}
      <p>
        <strong>{{localize "salvage-union.sheets.actor.pilot.health"}}:</strong>
        {{#unless inChat}}<a class="crawler-npc-hp" data-item-id="{{item.id}}" data-change="-1"
            title="{{localize "salvage-union.sheets.items.crawler-npc.hp-minus"}}"><i
              class="fas fa-minus"></i></a>{{/unless}}
        <span class="{{#if (lte item.system.hp.value 0)}}danger{{/if}}">
          {{item.system.hp.value}} / {{item.system.hp.max}}
        </span>
        {{#unless inChat}}<a class="crawler-npc-hp" data-item-id="{{item.id}}" data-change="1"
            title="{{localize "salvage-union.sheets.items.crawler-npc.hp-plus"}}"><i
              class="fas fa-plus"></i></a>{{/unless}}
      </p>
      <p>
        {{#if item.system.keepsake}}
          <strong>Keepsake:</strong> {{item.system.keepsake}}
        {{/if}}
        {{#if (and item.system.keepsake item.system.motto)}}
          {{#if inChat}}<br />{{else}}//{{/if}}
        {{/if}}
        {{#if item.system.motto}}
          <strong>Motto:</strong> {{item.system.motto}}
        {{/if}}
      </p>
    {{/if}}

    {{#unless hideDescription}}
      {{{enrichHTML (addInlineCosts item.system.description)}}}
    {{/unless}}
    {{#if item.system.table_id}}
      {{> "systems/salvage-union/templates/partials/rolltable.hbs" item_id=item.id results=item.system.tableResults hideDescription=hideDescription}}
    {{/if}}

    {{#if (eq item.type "crawler-bay")}}
      {{> "systems/salvage-union/templates/partials/crawler-bay-npc.hbs" item.system id=item.id inChat=inChat}}
    {{/if}}
  </div>
</section>
