<h2><span class="inverted">{{localize "salvage-union.sheets.actor.pilot.stats"}}</span></h2>
<table class="stats">
  <tr class="{{#if (lte system.hp.value 0)}}danger{{/if}}">
    <td><label>{{localize "salvage-union.sheets.actor.pilot.health"}}</label></td>
    <td>
      <input type="number" name="system.hp.value" value="{{system.hp.value}}" min="0" max="{{system.hp.max}}" />
    </td>
    <td>
      <input type="number" name="system.hp.max" value="{{system.hp.max}}" min="0" max="50" />
    </td>
  </tr>
  <tr>
    <td><label>{{localize "salvage-union.sheets.actor.pilot.ability-pts"}}</label></td>
    <td>
      <input type="number" name="system.ability-points.value" value="{{system.ability-points.value}}" min="0"
        max="{{system.ability-points.max}}" />
    </td>
    <td>
      <input type="number" name="system.ability-points.max" value="{{system.ability-points.max}}" min="0" max="50" />
    </td>
  </tr>
  <tr>
    <td><label>{{localize "salvage-union.sheets.actor.pilot.inventory-slots"}}</label></td>
    <td><input type="number" name="system.inventorySlots" value="{{system.inventorySlots}}" placeholder="6" min="0" />
    </td>
    <td></td>
  </tr>
  <tr>
    <td><label>{{localize "salvage-union.sheets.actor.pilot.skill-points"}}</label></td>
    <td><input type="number" name="system.skillPoints" value="{{system.skillPoints}}" placeholder="6" min="0" /></td>
    <td></td>
  </tr>
</table>
