<h2><span class="inverted">{{localize "salvage-union.sheets.actor.pilot.profile"}}</span></h2>
<table>
  <tr>
    <td><label>{{localize "salvage-union.sheets.actor.pilot.class"}}</label></td>
    <td><input type="text" name="system.class" value="{{system.class}}"
        placeholder="{{localize "salvage-union.sheets.actor.pilot.class"}}" /></td>
  </tr>
  <tr class="description">
    <td>
      <label>
        {{localize "salvage-union.sheets.actor.pilot.background"}}
        <small>
          {{#if system.background}}
            <a class="sendFieldToChat" data-field-name="background"><i class="fas fa-comments"></i></a>
          {{else}}
            <a class="rollProfile" data-field="background"><i class="fas fa-dice-d20"></i></a>
          {{/if}}
        </small>
      </label>
    </td>
    <td class="profileField">
      {{editor (enrichHTML system.background) target="system.background" button=true owner=owner editable=editable}}
    </td>
  </tr>
  <tr>
    <td>
      <label>
        {{localize "salvage-union.sheets.actor.pilot.motto"}}
        <small>
          {{#if system.motto}}
            <a class="sendFieldToChat" data-field-name="motto"><i class="fas fa-comments"></i></a>
          {{else}}
            <a class="rollProfile" data-field="motto"><i class="fas fa-dice-d20"></i></a>
          {{/if}}
        </small>
      </label>
    </td>
    <td class="profileField">
      <input type="text" name="system.motto" value="{{system.motto}}"
        placeholder="{{localize "salvage-union.sheets.actor.pilot.motto"}}" />
    </td>
  </tr>
  <tr>
    <td>
      <label>
        {{localize "salvage-union.sheets.actor.pilot.keepsake"}}
        <small>
          {{#if system.keepsake}}
            <a class="sendFieldToChat" data-field-name="keepsake"><i class="fas fa-comments"></i></a>
          {{else}}
            <a class="rollProfile" data-field="keepsake"><i class="fas fa-dice-d20"></i></a>
          {{/if}}
        </small>
      </label>
    </td>
    <td class="profileField">
      <input type="text" name="system.keepsake" value="{{system.keepsake}}"
        placeholder="{{localize "salvage-union.sheets.actor.pilot.keepsake"}}" />
    </td>
  </tr>
  <tr class="description">
    <td><label>{{localize "salvage-union.sheets.actor.appearance"}}</label></td>
    <td>
      {{editor (enrichHTML system.appearance) target="system.appearance" button=true owner=owner editable=editable}}
    </td>
  </tr>
</table>
