<p class="center">
  {{#if inChat}}
    <strong class="inverted all-caps">{{localize "salvage-union.common.roll"}}</strong>
  {{else}}
    <a class="inverted rollable-table-roll" data-item-id="{{item_id}}">
      <strong class="all-caps">{{localize "salvage-union.common.roll"}}</strong>
    </a>
  {{/if}}
</p>
{{#unless hideDescription}}
  <ul class="table-results">
    {{#each results as |result|}}
      <li>
        <strong>{{{range result.range}}}:</strong>
        {{result.text}}
      </li>
    {{/each}}
  </ul>
{{/unless}}
