{{#if salvage}}
  <h2><span class="inverted">{{localize "salvage-union.common.salvage"}}</span></h2>
  <div class="item-list">
    {{#each salvage as |item|}}
      {{> "systems/salvage-union/templates/partials/salvage-card.hbs" item}}
    {{/each}}
  </div>
{{/if}}
