<section class="traits">
  {{#if (or (any traits) editable)}}
    <h2 class="inverted">{{localize "salvage-union.sheets.items.traits.label"}}</h2>
  {{/if}}
  {{#if editable}}
    <div class="row margin-bottom">
      <div class="cell">
        <input type="text" class="trait-name" placeholder="{{localize "salvage-union.sheets.items.traits.add"}}" />
      </div>
      <div class="cell cell-0">
        <a class="add-trait" title="{{localize "salvage-union.common.add"}}">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
  {{/if}}
  <p>
    {{#each traits as |trait|}}
      <a class="trait{{#if ../editable}} remove-trait" data-trait="{{trait}}"
        title="{{localize "salvage-union.sheets.items.traits.remove"}}{{/if}}">{{trait}}</a>
    {{/each}}
  </p>
</section>
