<form class="salvage-union sheet actor-sheet {{cssClass}}" autocomplete="off">
  <section class="sheet-type {{actor.type}}">
    <span class="type-name all-caps">{{localize (trPath "salvage-union.sheets.type" actor.type)}}</span>
  </section>

  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
    <h1>
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "salvage-union.sheets.name"}}" />
    </h1>
  </header>

  <section class="body row">
    <section class="cell column">
      <h2><span class="inverted">{{localize "salvage-union.sheets.actor.mech.spec"}}</span></h2>
      <table class="stats">
        <tr class="{{#if (lte system.sp.value 0)}}danger{{/if}}">
          <td><label>{{localize "salvage-union.sheets.actor.mech.structure"}}</label></td>
          <td><input type="number" name="system.sp.value" value="{{system.sp.value}}" min="0" max="{{system.sp.max}}" />
          </td>
          <td><input type="number" value="{{system.sp.max}}" min="0" max="50" disabled="true" /></td>
        </tr>
        <tr>
          <td><label>{{localize "salvage-union.sheets.actor.mech.energy-pts"}}</label></td>
          <td><input type="number" name="system.energy-points.value" value="{{system.energy-points.value}}" min="0"
              max="{{system.energy-points.max}}" /></td>
          <td><input type="number" value="{{system.energy-points.max}}" min="0" max="50" disabled="true" /></td>
        </tr>
        <tr class="{{#if (gte system.heat.value system.heat.max)}}danger{{/if}}">
          <td>
            <label>{{localize "salvage-union.sheets.actor.mech.heat-cap"}}</label>
            <a class="capacityRoll pull-right" data-value="{{system.heat.value}}" data-type="heat"
              title="{{localize "salvage-union.sheets.actor.mech.roll-heat"}}"><i class="fas fa-dice-d20"></i></a>
          </td>
          <td><input type="number" name="system.heat.value" value="{{system.heat.value}}" min="0"
              max="{{system.heat.max}}" /></td>
          <td><input type="number" name="system.heat.max" value="{{system.heat.max}}" min="0" max="{{heatMax}}"
              placeholder="{{heatMax}}" /></td>
        </tr>

        <tr class="{{#if (gt system.systemSlotsUsed system.systemSlots)}}danger{{/if}}">
          <td><label>{{localize "salvage-union.sheets.actor.mech.system-slots"}}</label></td>
          <td><input type="number" value="{{system.systemSlotsUsed}}" min="0" max="50" disabled="true" /></td>
          <td><input type="number" value="{{system.systemSlots}}" min="0" max="50" disabled="true" /></td>
        </tr>

        <tr class="{{#if (gt system.moduleSlotsUsed system.moduleSlots)}}danger{{/if}}">
          <td><label>{{localize "salvage-union.sheets.actor.mech.module-slots"}}</label></td>
          <td><input type="number" value="{{system.moduleSlotsUsed}}" min="0" max="50" disabled="true" /></td>
          <td><input type="number" value="{{system.moduleSlots}}" min="0" max="50" disabled="true" /></td>
        </tr>

        {{#if displayMechScrapTotal}}
          <tr>
            <td><label>Scrap Total</label></td>
            <td colspan="2" class="center">{{system.scrapTotal}}</td>
          </tr>
        {{/if}}
      </table>

      {{#if system.chassis}}
        {{> "systems/salvage-union/templates/partials/chassis-card.hbs" item=system.chassis titleClass="inverted"}}
      {{/if}}

      <h2 class="title"><span class="inverted">{{localize "salvage-union.sheets.description"}}</span></h2>
      <table>
        <tr>
          <td>
            <label>
              {{localize "salvage-union.sheets.actor.mech.quirk"}}
              <small>
                {{#unless system.quirk}}
                  <a class="rollProfile" data-field="quirk"><i class="fas fa-dice-d20"></i></a>
                {{/unless}}
              </small>
            </label>
          </td>
          <td><input type="text" name="system.quirk" value="{{system.quirk}}" /></td>
        </tr>
        <tr>
          <td>
            <label>
              {{localize "salvage-union.sheets.actor.appearance"}}
              <small>
                {{#unless system.appearance}}
                  <a class="rollProfile" data-field="appearance"><i class="fas fa-dice-d20"></i></a>
                {{/unless}}
              </small>
            </label>
          </td>
          <td><input type="text" name="system.appearance" value="{{system.appearance}}" /></td>
        </tr>
      </table>

      {{> "systems/salvage-union/templates/partials/description-editor.hbs" hideHeader=true }}
    </section>

    <section class="cell cell-2 column equipment">
      <section class="navigation">
        <nav class="sheet-tabs tabs" data-group="primary">
          <a class="item" data-tab="main">{{localize "salvage-union.sheets.actor.mech.systems-modules"}}</a>
          <a class="item" data-tab="inventory">{{localize "salvage-union.sheets.actor.inventory"}}
            ({{system.inventory.value}}/{{system.inventory.max}})</a>
        </nav>
      </section>

      <section class="tab-content">
        <div class="tab" data-group="primary" data-tab="main">
          <h3><span class="inverted">{{localize "salvage-union.sheets.actor.mech.systems"}}</span></h3>
          {{> "systems/salvage-union/templates/partials/item-list.hbs" items=system.systems}}

          <h3><span class="inverted">{{localize "salvage-union.sheets.actor.mech.modules"}}</span></h3>
          {{> "systems/salvage-union/templates/partials/item-list.hbs" items=system.modules}}
        </div>

        <div class="tab" data-group="primary" data-tab="inventory">
          <h3>
            <span class="inverted">
              {{localize "salvage-union.sheets.actor.mech.cargo"}}
            </span>
            <a class="add-salvage inverted" title="{{localize "salvage-union.sheets.add-salvage"}}"><i
                class="fas fa-plus"></i></a>
          </h3>
          {{> "systems/salvage-union/templates/partials/inventory.hbs" system.inventory}}
        </div>
      </section>
    </section>
  </section>
</form>
