<form class="salvage-union sheet actor-sheet {{cssClass}}" autocomplete="off">
  <section class="sheet-type {{actor.type}}">
    <span class="type-name all-caps">{{localize (trPath "salvage-union.sheets.type" actor.type)}}</span>
  </section>

  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
    <h1>
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "salvage-union.sheets.name"}}" />
    </h1>
  </header>

  <section class="body row">

    <section class="cell row">
      <section class="cell column">
        <h2><span class="inverted">{{localize "salvage-union.sheets.actor.pilot.stats"}}</span></h2>
        <table class="stats">
          <tr>
            <td><label for="system.type">{{localize "salvage-union.sheets.actor.crawler.type"}}</label></td>
            <td colspan="2">
              <input type="text" name="system.type" value="{{system.type}}"
                placeholder="{{localize "salvage-union.sheets.actor.crawler.type"}}" class="center" />
            </td>
          </tr>
          <tr>
            <td><label for="system.techLevel">{{localize "salvage-union.salvage.tech-level"}}</label></td>
            <td colspan="2">
              <select name="system.techLevel">
                {{#select system.techLevel}}
                  {{#each config.techLevels as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </td>
          </tr>
          <tr class="{{#if (lte system.sp.value 0)}}danger{{/if}}">
            <td><label for="system.sp.value">{{localize "salvage-union.sheets.actor.mech.structure"}}</label></td>
            <td>
              <input type="number" name="system.sp.value" value="{{system.sp.value}}" min="0" max="{{system.sp.max}}" />
            </td>
            <td>
              <input type="number" name="system.sp.max" value="{{system.sp.max}}" min="0" max="50" />
            </td>
          </tr>
          <tr>
            <td><label for="system.upkeep">{{localize "salvage-union.sheets.actor.crawler.upkeep.label"}}</label></td>
            <td><input name="system.upkeep" type="number" value="{{system.upkeep}}" /></td>
            <td class="center">{{crawlerUpkeepCost system.techLevel}}</td>
          </tr>
          <tr class="{{#if (gte system.inventory.upgradeEquivalent 30)}}success{{/if}}">
            <td><label>{{localize "salvage-union.sheets.actor.crawler.upgrade-pool"}}</label></td>
            <td>
              <input type="number" value="{{system.inventory.upgradeEquivalent}}" disabled />
            </td>
            <td>
              <input type="number" value="{{crawlerUpgradeScrapRequired}}" disabled />
            </td>
          </tr>
        </table>

        {{> "systems/salvage-union/templates/partials/description-editor.hbs" }}
      </section>

      <section class="cell cell-2">
        <section class="navigation">
          <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="main">{{localize "salvage-union.sheets.actor.crawler.systems-bays"}}</a>
            <a class="item" data-tab="inventory">{{localize "salvage-union.common.salvage"}}</a>
          </nav>
        </section>

        <section class="tab-content">
          <div class="tab" data-group="primary" data-tab="main">
            <h2><span class="inverted">{{localize "salvage-union.sheets.actor.mech.systems"}}</span></h2>
            {{> "systems/salvage-union/templates/partials/item-list.hbs" items=system.systems}}

            <h2><span class="inverted">{{localize "salvage-union.sheets.actor.crawler.bays"}}</span></h2>
            {{> "systems/salvage-union/templates/partials/item-list.hbs" items=system.bays}}

            {{#if (any system.npcs)}}
              <h2><span class="inverted">{{localize "salvage-union.sheets.actor.crawler.npcs"}}</span></h2>
              {{> "systems/salvage-union/templates/partials/item-list.hbs" items=system.npcs}}
            {{/if}}
          </div>

          <div class="tab" data-group="primary" data-tab="inventory">
            <h3>
              <span class="inverted">
                {{localize "salvage-union.common.salvage"}}
              </span>
              <a class="add-salvage inverted" title="{{localize "salvage-union.sheets.add-salvage"}}"><i
                  class="fas fa-plus"></i></a>
            </h3>

            {{#if (any system.inventory.items)}}
              <section class="item-list">
                {{#each system.inventory.items as |salvage|}}
                  {{> "systems/salvage-union/templates/partials/crawler-salvage.hbs" salvage}}
                {{/each}}
              </section>
            {{else}}
              <p><em>{{localize "salvage-union.sheets.no-items-of-type"}}</em></p>
            {{/if}}
          </div>
        </section>
      </section>
    </section>
  </section>
</form>
