<div class="salvage-union">
  <section class="item {{type}} {{statusClass system.status}}">
    <h2 class="title {{titleClass}}">
      {{#if (gt system.ap 0)}}
        <span class="item-cost" title="{{localize "salvage-union.sheets.items.ap"}}">
          {{localize "salvage-union.sheets.actor.pilot.ap-cost" cost=system.ap}}
        </span>
      {{/if}}

      {{#if (gt system.ep 0)}}
        <span class="item-cost" title="{{localize "salvage-union.sheets.items.ep"}}">
          {{localize "salvage-union.sheets.actor.mech.ep-cost" cost=system.ep}}
        </span>
      {{/if}}

      <span class="condensed">{{name}}</span>

      {{#if (and system.status (gt system.status activeStatus))}}
        <small class="inverted all-caps status">{{localize (statusLabel system.status)}}</small>
      {{/if}}
    </h2>

    {{{system.description}}}

    <p class="center">
      <span class="inverted all-caps">
        <strong>{{localize "salvage-union.chat.roll-result" roll=roll.total }}</strong>
      </span>
    </p>

    <p>
      <strong>{{{range result.range}}}:</strong>
      {{{result.text}}}
    </p>

  </section>
</div>
