<form class="salvage-union sheet item-sheet {{cssClass}}" autocomplete="off">
  <section class="sheet-type {{item.type}}">
    <span class="type-name all-caps">{{localize (trPath "salvage-union.sheets.type" item.type)}}</span>
  </section>
  <header class="sheet-header">
    <h1 class="title">
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" class="editable" />
    </h1>
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
  </header>

  <section class="body column">
    {{#if (eq item.type "crawler-npc")}}
      <h2><span class="all-caps danger">{{localize "salvage-union.notifications.deprecation.header"}}</span></h2>
      <p>{{localize "salvage-union.notifications.deprecation.crawler-npc"}}</p>
      <hr />
    {{/if}}
    <table class="values">
      {{#if hasTechLevel}}
        <tr>
          <td><label for="system.techLevel">{{localize "salvage-union.salvage.tech-level"}}</label></td>
          <td>
            <select name="system.techLevel">
              {{#select system.techLevel}}
                {{#each config.techLevels as |name type|}}
                  <option value="{{type}}">{{localize name}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
        </tr>
      {{/if}}
      {{#if (arrayContains permittedOwners "mech")}}
        {{#if hasCost}}
          <tr>
            <td><label for="system.ep">{{localize "salvage-union.sheets.items.ep"}}</label></td>
            <td><input type="text" class="center" name="system.ep" value="{{item.system.ep}}" placeholder="0"
                maxlength="2"></td>
          </tr>
        {{/if}}
        {{#unless (eq item.type 'salvage')}}
          <tr>
            <td><label for="system.slots">{{localize "salvage-union.sheets.items.slots"}}</label></td>
            <td><input type="number" name="system.slots" value="{{item.system.slots}}" min="0"></td>
          </tr>
        {{/unless}}
        <tr>
          <td><label for="system.salvageValue">{{localize "salvage-union.sheets.items.salvage-value"}}</label></td>
          <td><input type="number" name="system.salvageValue" value="{{system.salvageValue}}" placeholder="0" min="0" />
          </td>
        </tr>
        {{#unless (eq item.type 'salvage')}}
          <tr>
            <td><label for="system.cargo">{{localize "salvage-union.sheets.items.chassis.cargo-cap"}}</label></td>
            <td><input type="number" name="system.cargo" value="{{item.system.cargo}}" min="0" /></td>
          </tr>
        {{/unless}}
      {{/if}}

      {{#if (arrayContains permittedOwners "pilot")}}
        {{#if (eq item.type "ability")}}
          <tr>
            <td><label for="system.level">{{localize "salvage-union.sheets.items.level.label"}}</label></td>
            <td>
              <select name="system.level">
                {{#select system.level}}
                  {{#each config.abilityLevels as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </td>
          </tr>
        {{/if}}

        {{#if hasCost}}
          <tr>
            <td><label for="system.ap">{{localize "salvage-union.sheets.items.ap"}}</label></td>
            <td><input type="text" name="system.ap" value="{{ item.system.ap }}" class="center" placeholder="0"
                maxlength="2"></td>
          </tr>
        {{/if}}
      {{/if}}

      {{#if hasAction}}
        {{> "systems/salvage-union/templates/sheets/items/_action_select.hbs" }}
      {{/if}}
      {{#if hasRange}}
        {{> "systems/salvage-union/templates/sheets/items/_range_select.hbs" }}
      {{/if}}
      {{#if hasDamage}}
        <tr>
          <td><label for="system.damage">{{localize "salvage-union.sheets.items.damage.label"}}</label></td>
          <td><input type="text" name="system.damage" class="center" value="{{system.damage}}"
              placeholder="{{localize "salvage-union.common.none"}}" /></td>
        </tr>
      {{/if}}

      {{#if (arrayContains permittedOwners "pilot")}}
        {{#unless (eq item.type 'salvage')}}
          <tr>
            <td><label for="system.inventorySlot">{{localize "salvage-union.sheets.items.inventory"}}</label></td>
            <td><input type="checkbox" name="system.inventorySlot" {{checked system.inventorySlot}} /></td>
          </tr>
        {{/unless}}
      {{/if}}

      {{#if (eq item.type "crawler-npc")}}
        <tr>
          <td><label for="system.keepsake">{{localize "salvage-union.sheets.actor.pilot.keepsake"}}</label></td>
          <td colspan="2"><input type="text" name="system.keepsake" value="{{item.system.keepsake}}" /></td>
        </tr>
        <tr>
          <td><label for="system.motto">{{localize "salvage-union.sheets.actor.pilot.motto"}}</label></td>
          <td colspan="2"><input type="text" name="system.motto" value="{{item.system.motto}}" /></td>
        </tr>
        <tr>
          <td><label for="system.hp.value">{{localize "salvage-union.sheets.actor.pilot.health"}}</label></td>
          <td><input type="number" name="system.hp.value" value="{{item.system.hp.value}}" min="0"
              max="{{item.system.hp.max}}"></td>
          <td><input type="number" name="system.hp.max" value="{{item.system.hp.max}}"></td>
        </tr>
      {{/if}}
    </table>

    {{#if hasTraits}}
      {{> "systems/salvage-union/templates/partials/traits.hbs" traits=item.system.traits}}
    {{/if}}

    {{> "systems/salvage-union/templates/partials/description-editor.hbs" }}

    {{#if hasTable }}
      {{> "systems/salvage-union/templates/partials/item-rolltable.hbs" id=system.table_id results=system.tableResults}}
    {{/if}}
  </section>
</form>
