// out: false

@import "./config.less";

.chat-message {
  background: @bg-color;
  overflow: hidden;

  .message-header {
    .font-bold();
    margin: -8px -8px 0.5rem;
    padding: 12px 8px 4px;
    background: @sky;
    color: @bg-color;
    box-shadow: inset 0 -2px @bg-color;
    border-bottom: 6px solid @sky;
  }

  .message-content {
    .font-regular();

    p {
      margin-top: 0;
    }

    .salvage-union {
      padding: 0.25rem;

      h2 {
        margin: 0 0 0.5rem;
      }

      .item {
        margin-bottom: 0;
      }
    }
  }

  &.whisper {
    header.message-header {
      background: @coral;
      border-color: @coral;
    }

    .message-content .salvage-union {
      background: transparent;
    }
  }

  &.ic {
    header.message-header {
      background: @olive;
      border-color: @olive;
    }
  }
}
