/*
 * Fonts
 */
@font-face {
  font-family: "Roboto Black";
  src: url(fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: "Roboto Bold";
  src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto Regular";
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto Mono";
  src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(fonts/RobotoCondensed-Bold.ttf);
}
/*
 * Colours
 */
/*
 * Dimensions
 */
/*
 * Misc functions
 */
.window-app {
  overflow: hidden;
  font-family: "Roboto Regular";
}
.window-app #context-menu {
  font-size: 1rem;
  font-family: "Roboto Bold";
  font-weight: initial !important;
}
.window-app label {
  font-family: "Roboto Bold";
  font-weight: initial !important;
}
.window-app .window-header {
  color: black;
  background-color: #6BCEF3;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #B0B0B0;
  font-family: "Roboto Bold";
  font-weight: initial !important;
}
.window-app .window-content {
  background: white;
}
.window-app .window-content header h1 {
  font-family: "Roboto Black";
  font-weight: initial !important;
}
.directory .directory-item .document-name {
  font-family: "Roboto Regular";
}
.directory .directory-item h3,
.directory .directory-item h4 {
  font-family: "Roboto Bold";
  font-weight: initial !important;
}
ol.table-results li:nth-child(even) {
  background-color: #EFC5A8;
}
button {
  font-family: "Roboto Bold";
  font-weight: initial !important;
}
#logo {
  content: url(images/logo.webp);
  width: 50px;
  margin-left: 37px;
}
#pause img {
  content: url(images/spinner.webp);
}
#pause figcaption {
  font-family: "Roboto Black";
  font-weight: initial !important;
  text-transform: uppercase;
}
.salvage-union {
  font-family: "Roboto Regular";
  background: white;
}
.salvage-union h1,
.salvage-union h2,
.salvage-union h3,
.salvage-union h4 {
  font-family: "Roboto Black";
  font-weight: initial !important;
  border: none;
  margin: 0.5rem 0;
}
.salvage-union .condensed {
  font-family: "Roboto Condensed";
  font-weight: initial !important;
}
.salvage-union p {
  margin: 0 0 0.5rem;
}
.salvage-union p.margin-v {
  margin: 0.5rem 0;
}
.salvage-union .margin-bottom {
  margin-bottom: 0.5rem;
}
.salvage-union ul.table-results {
  list-style: none;
  padding: 0;
}
.salvage-union strong,
.salvage-union label,
.salvage-union .bold {
  font-family: "Roboto Bold";
  font-weight: initial !important;
}
.salvage-union a:hover {
  text-shadow: none;
  color: #616870;
}
.salvage-union a.inverted:hover {
  color: white;
  background: #616870;
}
.salvage-union .inverted {
  background: black;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
}
.salvage-union .inverted.core {
  background: #A64735;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
}
.salvage-union .inverted.advanced {
  background: #F68A50;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
}
.salvage-union .inverted.legendary {
  background: #D0579A;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
}
.salvage-union small {
  font-size: 0.8rem;
}
.salvage-union .danger {
  background: #A64735;
  color: white;
  padding: 0 0.2rem;
}
.salvage-union .danger input {
  border-color: white !important;
  color: white;
}
.salvage-union .success {
  background: #D0579A !important;
  color: white;
  padding: 0 0.2rem;
}
.salvage-union .success input {
  border-color: white !important;
  color: white;
}
.salvage-union .all-caps {
  text-transform: uppercase;
}
.salvage-union .center {
  text-align: center;
}
.salvage-union .left {
  text-align: left !important;
}
.salvage-union .right {
  text-align: right;
}
.salvage-union .pull-right {
  float: right;
}
.salvage-union .item {
  margin-bottom: 1.25rem;
}
.salvage-union .item-cost {
  background-image: url('images/ap-ep-bg.webp');
  background-position: center right;
  background-repeat: no-repeat;
  color: white;
  padding: 0 0.5rem 0 0.1rem;
  font-weight: bold;
  margin: 0 0.25rem 0 0;
}
.salvage-union .item-cost:after {
  content: ' ';
}
.salvage-union .tech-tier {
  background: black;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
  border-radius: 0.25rem;
}
.salvage-union .tech-tier.core {
  background: #A64735;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
}
.salvage-union .tech-tier.advanced {
  background: #F68A50;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
}
.salvage-union .tech-tier.legendary {
  background: #D0579A;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
}
.salvage-union .item-slots,
.salvage-union .salvage-value {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  display: inline-block;
  width: 1.8rem;
  line-height: 1.8rem;
  font-size: 0.8rem;
  text-align: center;
}
.salvage-union .item-slots {
  background-image: url(images/slots.webp);
}
.salvage-union .salvage-value {
  background-image: url(images/salvage.webp);
}
.salvage-union .row {
  display: flex;
  flex: 0;
  flex-direction: row;
}
.salvage-union .column {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.salvage-union .column .cell {
  margin-right: 0;
}
.salvage-union .cell {
  flex: 1;
  margin-right: 1rem;
}
.salvage-union .cell:last-child {
  margin-right: 0;
}
.salvage-union .cell.cell-0 {
  flex: 0 !important;
}
.salvage-union .cell.cell-2 {
  flex: 2 !important;
}
.salvage-union .cell.cell-3 {
  flex: 3 !important;
}
.salvage-union .cell.cell-4 {
  flex: 4 !important;
}
.salvage-union ol.inventory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.salvage-union ol.inventory > li {
  margin: 0 1rem 0.5rem 0;
  padding: 0;
  list-style-position: inside;
  flex: 1;
  min-width: calc(50% - 1rem);
  max-width: calc(50% - 1rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.salvage-union ol.inventory > li::marker {
  font-weight: bold;
}
.salvage-union small a {
  color: #B0B0B0;
}
.salvage-union small a:hover {
  color: black;
}
.salvage-union .item .title {
  margin-bottom: 0;
}
.salvage-union .item.damaged h2 .inverted.status {
  background-color: #F68A50;
}
.salvage-union .item.destroyed h2 .inverted.status {
  background-color: #A64735;
}
.salvage-union .item.chassis {
  margin-bottom: 0;
}
.salvage-union.sheet {
  color: black;
  background: white;
  margin: -8px;
  padding: 8px;
}
.salvage-union.sheet .sheet-type {
  flex: none;
  height: 2rem;
  position: relative;
  margin: -8px;
  margin-bottom: 1.5rem;
}
.salvage-union.sheet .sheet-type .type-name {
  font-family: "Roboto Black";
  font-weight: initial !important;
  background: white;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  font-size: 2rem;
  padding: 0 0.5rem;
}
.salvage-union.sheet .sheet-type.mech,
.salvage-union.sheet .sheet-type.npc-mech,
.salvage-union.sheet .sheet-type.system {
  background: #7A988B;
}
.salvage-union.sheet .sheet-type.mech .type-name,
.salvage-union.sheet .sheet-type.npc-mech .type-name,
.salvage-union.sheet .sheet-type.system .type-name {
  color: #7A988B;
}
.salvage-union.sheet .sheet-type.pilot,
.salvage-union.sheet .sheet-type.npc,
.salvage-union.sheet .sheet-type.crawler-npc {
  background: #F68A50;
}
.salvage-union.sheet .sheet-type.pilot .type-name,
.salvage-union.sheet .sheet-type.npc .type-name,
.salvage-union.sheet .sheet-type.crawler-npc .type-name {
  color: #F68A50;
}
.salvage-union.sheet .sheet-type.equipment {
  background: #616870;
}
.salvage-union.sheet .sheet-type.equipment .type-name {
  color: #616870;
}
.salvage-union.sheet .sheet-type.ability,
.salvage-union.sheet .sheet-type.npc-ability {
  background: #6BCEF3;
}
.salvage-union.sheet .sheet-type.ability .type-name,
.salvage-union.sheet .sheet-type.npc-ability .type-name {
  color: #6BCEF3;
}
.salvage-union.sheet .sheet-type.chassis,
.salvage-union.sheet .sheet-type.union-crawler {
  background: #D0579A;
}
.salvage-union.sheet .sheet-type.chassis .type-name,
.salvage-union.sheet .sheet-type.union-crawler .type-name {
  color: #D0579A;
}
.salvage-union.sheet .sheet-type.module,
.salvage-union.sheet .sheet-type.crawler-bay,
.salvage-union.sheet .sheet-type.vehicle {
  background: #A64735;
}
.salvage-union.sheet .sheet-type.module .type-name,
.salvage-union.sheet .sheet-type.crawler-bay .type-name,
.salvage-union.sheet .sheet-type.vehicle .type-name {
  color: #A64735;
}
.salvage-union.sheet .sheet-type.salvage {
  background: #30EAD7;
}
.salvage-union.sheet .sheet-type.salvage .type-name {
  color: #30EAD7;
}
.salvage-union.sheet .sheet-type.bio-titan {
  background: #32506A;
}
.salvage-union.sheet .sheet-type.bio-titan .type-name {
  color: #32506A;
}
.salvage-union.sheet header.sheet-header {
  flex: none;
}
.salvage-union.sheet header.sheet-header img {
  border: none;
}
.salvage-union.sheet ul.roll-table-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.salvage-union.sheet .description {
  min-height: 80px;
  background: #EEE;
  padding: 0.5rem;
}
.salvage-union.sheet .description .editor {
  min-height: 80px;
}
.salvage-union.sheet .description .editor .editor-content {
  min-height: 80px;
}
.salvage-union.sheet .description .editor .tox.tox-tinymce {
  min-height: 400px;
}
.salvage-union.sheet div.description {
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  margin-bottom: 0.5rem;
}
.salvage-union.sheet tr.description td:first-child {
  vertical-align: top;
  padding-top: 0.5rem;
}
.salvage-union.sheet tr.description .editor {
  border: 1px solid #222;
  border-radius: 0;
  width: calc(100% - 2px);
  background: rgba(255, 255, 255, 0.25);
}
.salvage-union.sheet tr.description .editor .editor-content {
  padding: 1px 3px;
}
.salvage-union.sheet input,
.salvage-union.sheet select,
.salvage-union.sheet textarea {
  border: 1px solid #222;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.25);
}
.salvage-union.sheet input:disabled,
.salvage-union.sheet select:disabled,
.salvage-union.sheet textarea:disabled {
  border-color: transparent;
}
.salvage-union.sheet table {
  background: #EEE;
  margin: 0.5rem 0;
}
.salvage-union.sheet table tr {
  background: transparent;
}
.salvage-union.sheet table tr.danger {
  background: #A64735;
}
.salvage-union.sheet table tr td:first-child {
  width: 115px;
}
.salvage-union.sheet table tr td input,
.salvage-union.sheet table tr td select {
  width: calc(100% - 2px);
}
.salvage-union.sheet table tr td input[type="number"],
.salvage-union.sheet table tr td select {
  text-align: center;
}
.salvage-union.sheet table.stats tr td {
  width: 125px;
}
.salvage-union.sheet table.values tr td {
  width: 250px;
}
.salvage-union.sheet .navigation .sheet-tabs.tabs {
  margin: 0.5rem 0;
  border: none;
  justify-content: space-between;
}
.salvage-union.sheet .navigation .sheet-tabs.tabs .item {
  font-family: "Roboto Black";
  font-weight: initial !important;
  padding: 2px;
  margin: 0;
  font-size: 1.5rem;
}
.salvage-union.sheet .navigation .sheet-tabs.tabs .item.active {
  background: black;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
  text-shadow: none;
}
.salvage-union.sheet .navigation .sheet-tabs.tabs .item.danger {
  color: #A64735;
  background: white;
}
.salvage-union.sheet .navigation .sheet-tabs.tabs .item.danger.active {
  background: #A64735;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
}
.salvage-union.sheet .capacityRoll {
  display: inline-block;
  margin: 0 0.5rem;
}
.salvage-union.sheet .inventory {
  display: flex;
  flex: 0;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
}
.salvage-union.sheet .inventory .slot {
  line-height: 1.5rem;
  flex: 0;
  padding: 0 0.25rem;
  border: 1px solid #B0B0B0;
  color: black;
  border-radius: 2px;
  background: #EEE;
}
.salvage-union.sheet .inventory .items {
  position: absolute;
  top: 0;
  left: 1.5rem;
  width: calc(100% - 1.5rem);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
}
.salvage-union.sheet .inventory .items .item {
  height: calc(1.5rem + 2px);
  border: 1px solid black;
  border-radius: 0 2px 2px 0;
  background: #B0B0B0;
  position: relative;
  margin: 0;
}
.salvage-union.sheet .inventory .items .item .data {
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0 0.25rem;
}
.salvage-union.sheet .inventory .items .item .data .salvage-value {
  line-height: 1.4rem;
}
.salvage-union.sheet .inventory .items .item .label {
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.4rem;
}
.salvage-union.sheet .inventory .items .item .deleteSalvage {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  font-size: 0.8rem;
  display: none;
}
.salvage-union.sheet .inventory .items .item:hover .deleteSalvage {
  display: block;
}
.salvage-union.sheet .inventory .items .item.overflow {
  background: #A64735;
  color: white;
}
.salvage-union.sheet .inventory .items .item.overflow:last-child {
  margin-bottom: 0.5rem;
}
.salvage-union.sheet .trait {
  background: #616870;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
  border-radius: 0.25rem;
}
.salvage-union.sheet .trait:hover {
  background: #A64735;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
}
.salvage-union.sheet .add-trait {
  background: black;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
  height: 100%;
  padding: calc(25% - 0.4rem) 1rem;
}
.salvage-union.sheet .add-trait:hover {
  background: #616870;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
  height: 100%;
  padding: calc(25% - 0.4rem) 1rem;
}
.sheet.journal-entry.salvage-union-journal-sheet .journal-entry-content {
  background: white;
  color: black;
}
.sheet.journal-entry.salvage-union-journal-sheet .journal-entry-content .journal-header {
  background: #F68A50;
  margin: 0;
  padding: 0.5rem 1rem 0.25rem;
  border-bottom: 0.5rem solid #F68A50;
  box-shadow: inset 0 -3px 0 white;
}
.sheet.journal-entry.salvage-union-journal-sheet .journal-entry-content .journal-header .title {
  font-family: "Roboto Black";
  font-weight: initial !important;
  text-transform: uppercase;
  color: white;
  background: transparent;
  text-align: left;
  border: none;
}
.sheet.journal-entry.salvage-union-journal-sheet .journal-entry-content .journal-entry-page.text {
  padding-top: 0.5rem;
}
.sheet.journal-entry.salvage-union-journal-sheet .journal-entry-content h1,
.sheet.journal-entry.salvage-union-journal-sheet .journal-entry-content h2,
.sheet.journal-entry.salvage-union-journal-sheet .journal-entry-content h3,
.sheet.journal-entry.salvage-union-journal-sheet .journal-entry-content h4 {
  font-family: "Roboto Bold";
  font-weight: initial !important;
  border: none;
  margin: 0 0 0.5rem;
}
.sheet.journal-entry.salvage-union-journal-sheet .journal-entry-content h1 {
  background: black;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
  font-family: "Roboto Black";
  font-weight: initial !important;
  font-size: 1.5rem;
}
.sheet.journal-entry.salvage-union-journal-sheet .journal-entry-content h2 {
  font-size: 1.3rem;
  font-family: "Roboto Condensed";
  font-weight: initial !important;
}
.sheet.journal-entry.salvage-union-journal-sheet .journal-entry-content h3 {
  font-size: 1.1rem;
  font-family: "Roboto Condensed";
  font-weight: initial !important;
}
.sheet.journal-entry.salvage-union-journal-sheet .journal-entry-content p {
  margin: 0 0 0.5rem;
}
.sheet.journal-entry.salvage-union-journal-sheet .journal-entry-content .inverted {
  background: black;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
}
.sheet.journal-entry.salvage-union-journal-sheet .journal-entry-content .item-cost {
  background-image: url('images/ap-ep-bg.webp');
  background-position: center right;
  background-repeat: no-repeat;
  color: white;
  padding: 0 0.5rem 0 0.1rem;
  font-weight: bold;
  margin: 0 0.25rem 0 0;
}
.sheet.journal-entry.salvage-union-journal-sheet .journal-entry-content .item-cost:after {
  content: ' ';
}
.sheet.adventure-importer {
  font-family: "Roboto Regular";
}
.sheet.adventure-importer h1,
.sheet.adventure-importer h2,
.sheet.adventure-importer h3,
.sheet.adventure-importer h4 {
  font-family: "Roboto Black";
  font-weight: initial !important;
  border: none;
  margin: 0.5rem 0;
}
.sheet.adventure-importer h1,
.sheet.adventure-importer h2 {
  background: black;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
}
.sheet.adventure-importer header.adventure-header {
  flex: none;
  height: 2rem;
  width: calc(100% + 2rem);
  position: relative;
  background: #F68A50;
  margin: -0.5rem -1rem 1.5rem;
}
.sheet.adventure-importer header.adventure-header h1 {
  font-family: "Roboto Black";
  font-weight: initial !important;
  background: white;
  color: #F68A50;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  font-size: 2rem;
  line-height: normal;
  padding: 0 0.5rem;
  text-transform: uppercase;
}
.sheet.adventure-importer figure.adventure-banner img {
  border-radius: 0;
}
.sheet.adventure-importer .adventure-footer button {
  background: black;
  color: white;
  padding: 2px;
  display: inline-block;
  min-width: 0.8rem;
  text-align: center;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
}
.sheet.adventure-importer p {
  margin: 0 0 0.5rem;
}
.salvage-union.sheet.item-sheet .rollable-table-drop-target {
  border: 1px solid #F68A50;
  background: #EFC5A8;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
  flex: none;
}
.chat-message {
  background: white;
  overflow: hidden;
}
.chat-message .message-header {
  font-family: "Roboto Bold";
  font-weight: initial !important;
  margin: -8px -8px 0.5rem;
  padding: 12px 8px 4px;
  background: #6BCEF3;
  color: white;
  box-shadow: inset 0 -2px white;
  border-bottom: 6px solid #6BCEF3;
}
.chat-message .message-content {
  font-family: "Roboto Regular";
}
.chat-message .message-content p {
  margin-top: 0;
}
.chat-message .message-content .salvage-union {
  padding: 0.25rem;
}
.chat-message .message-content .salvage-union h2 {
  margin: 0 0 0.5rem;
}
.chat-message .message-content .salvage-union .item {
  margin-bottom: 0;
}
.chat-message.whisper header.message-header {
  background: #F68A50;
  border-color: #F68A50;
}
.chat-message.whisper .message-content .salvage-union {
  background: transparent;
}
.chat-message.ic header.message-header {
  background: #7A988B;
  border-color: #7A988B;
}
