@import "./config.less";
@import "./core-overrides.less";

#logo {
  content: url(images/logo.webp);
  width: 50px;
  margin-left: 37px;
}

#pause {
  img {
    content: url(images/spinner.webp)
  }

  figcaption {
    .font-black();
    text-transform: uppercase;
  }
}

.salvage-union {
  .font-regular();
  background: @bg-color;

  h1,
  h2,
  h3,
  h4 {
    .font-black();
    border: none;
    margin: 0.5rem 0;
  }

  .condensed {
    .font-condensed();
  }

  p {
    margin: 0 0 0.5rem;

    &.margin-v {
      margin: 0.5rem 0;
    }
  }

  .margin-bottom {
    margin-bottom: 0.5rem;
  }

  ul.table-results {
    list-style: none;
    padding: 0;
  }

  strong,
  label,
  .bold {
    .font-bold();
  }

  a {
    &:hover {
      text-shadow: none;
      color: @steel;
    }

    &.inverted {
      &:hover {
        color: @bg-color;
        background: @steel;
      }
    }
  }

  .inverted {
    .inverted();

    &.core {
      .inverted(@rust);
    }

    &.advanced {
      .inverted(@coral);
    }

    &.legendary {
      .inverted(@pink);
    }
  }

  small {
    font-size: 0.8rem;
  }

  .danger {
    background: @rust;
    color: @bg-color;
    padding: 0 0.2rem;

    input {
      border-color: @bg-color !important;
      color: @bg-color;
    }
  }

  .success {
    background: @pink !important;
    color: @bg-color;
    padding: 0 0.2rem;

    input {
      border-color: @bg-color !important;
      color: @bg-color;
    }
  }

  .all-caps {
    .all-caps()
  }

  .center {
    text-align: center;
  }

  .left {
    text-align: left !important;
  }

  .right {
    text-align: right;
  }

  .pull-right {
    float: right;
  }

  .item {
    margin-bottom: 1.25rem;
  }

  .item-cost {
    .item-cost();
  }

  .tech-tier {
    .inverted();
    border-radius: 0.25rem;
  }

  .item-slots,
  .salvage-value {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    color: @bg-color;
    display: inline-block;
    width: 1.8rem;
    line-height: 1.8rem;
    font-size: 0.8rem;
    text-align: center;
  }

  .item-slots {
    background-image: url(images/slots.webp);
  }

  .salvage-value {
    background-image: url(images/salvage.webp);
  }

  // Flex
  .row {
    display: flex;
    flex: 0;
    flex-direction: row;
  }

  .column {
    display: flex;
    flex: 1;
    flex-direction: column;

    .cell {
      margin-right: 0;
    }
  }

  .cell {
    flex: 1;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    &.cell-0 {
      flex: 0 !important;
    }

    &.cell-2 {
      flex: 2 !important;
    }

    &.cell-3 {
      flex: 3 !important;
    }

    &.cell-4 {
      flex: 4 !important;
    }
  }

  ol.inventory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    &>li {
      margin: 0 1rem 0.5rem 0;
      padding: 0;
      list-style-position: inside;
      flex: 1;
      min-width: calc(50% - 1rem);
      max-width: calc(50% - 1rem);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &::marker {
        font-weight: bold;
      }
    }
  }

  small a {
    color: @grey;

    &:hover {
      color: @text-color;
    }
  }

  .item {
    .title {
      margin-bottom: 0;
    }

    &.damaged h2 .inverted.status {
      background-color: @coral;
    }

    &.destroyed h2 .inverted.status {
      background-color: @rust;
    }

    &.chassis {
      margin-bottom: 0;
    }
  }
}

@import "./sheet.less";
@import "./chat.less";
