/*
 * Fonts
 */
@font-face {
  font-family: "Roboto Black";
  src: url(fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: "Roboto Bold";
  src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto Regular";
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto Mono";
  src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(fonts/RobotoCondensed-Bold.ttf);
}
/*
 * Colours
 */
/*
 * Dimensions
 */
/*
 * Misc functions
 */
body {
  font-family: "Roboto Regular";
  color: black;
  background: transparent;
  font-size: 14px;
}
h1,
h2,
h3,
h4 {
  font-family: "Roboto Black";
  font-weight: initial;
  border: none;
  margin: 0.5rem 0;
}
p {
  margin: 0 0 0.5rem;
}
strong,
label {
  font-family: "Roboto Bold";
  font-weight: initial;
}
.condensed {
  font-family: "Roboto Condensed";
  font-weight: initial;
}
