@import "./config.less";

body {
  .font-regular();
  color: @text-color;
  background: transparent;
  font-size: 14px;
}

h1,
h2,
h3,
h4 {
  .font-black();
  border: none;
  margin: 0.5rem 0;
}

p {
  margin: 0 0 0.5rem;
}

strong,
label {
  .font-bold();
}

.condensed {
  .font-condensed();
}
